<app-navbar></app-navbar>
<!-- form.component.html -->
<div class="container-fluid vh-100 mt-5 mt-md-0">
  <form [formGroup]="dataForm" (ngSubmit)="saveData()">
    <h1 class="mb-5">Inserisci un nuovo trattamento</h1>
  <div class="mb-3">
    <label for="categoria" class="form-label">Sezione:</label>
    <select id="categoria" class="form-select" formControlName="categoria" (change)="onCategoriaChange()" required>
      <option value="" selected disabled hidden>Seleziona la sezione</option>
      <option *ngFor="let cat of categorie" [value]="cat">{{ cat | titlecase  }}</option>
    </select>
  </div>
 

  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo:</label>
    <select id="tipo" class="form-select" formControlName="tipo" required>
      <ng-container [ngSwitch]="dataForm.get('categoria').value">
        <ng-container *ngSwitchCase="'Estetica uomo'">
          <option *ngFor="let trattamento of trattamentiUomo" [value]="trattamento">{{ trattamento }}</option>
        </ng-container>
        <ng-container *ngSwitchCase="'Estetica donna'">
          <option *ngFor="let trattamento of trattamentiDonna" [value]="trattamento">{{ trattamento }}</option>
          <option *ngFor="let epil of epilazione" [value]="epil">{{ epil }}</option>
        </ng-container>
        <ng-container *ngSwitchCase="'Parruccheria'">
          <option *ngFor="let servizio of serviziParruccheria" [value]="servizio">{{ servizio }}</option>
        </ng-container>
        <ng-container *ngSwitchCase="'Barberia'">
          <option *ngFor="let servizio of serviziBarberia" [value]="servizio">{{ servizio }}</option>
        </ng-container>
        <ng-container *ngSwitchCase="'Consulenza d\'immagine'">
          <option *ngFor="let servizio of consulenzaImmagine" [value]="servizio">{{ servizio }}</option>
        </ng-container>
        
        <ng-container *ngSwitchDefault>
          <option>Seleziona il tipo</option>
        </ng-container>
      </ng-container>
    </select>
  </div>

  

  <div class="mb-3">
    <label for="nome" class="form-label">Nome Trattamento:</label>
    <input type="text" id="nome" class="form-control" formControlName="nome" required>
  </div>

  <div class="mb-3">
    <label for="prezzo" class="form-label">Prezzo:</label>
    <input type="number" id="prezzo" class="form-control" formControlName="prezzo" required>
  </div>

  <button type="submit" class="btn ">Salva</button>
</form>