<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0">© Benessere Namastè S.R.L.</span>
        <div class="d-flex flex-column">
            <a href="https://www.iubenda.com/privacy-policy/17521086" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            <a href="https://www.iubenda.com/privacy-policy/17521086/cookie-policy" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </div>
    </div>
    
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
        <li class="ms-3">
            <a class="text-muted" href="https://www.instagram.com/benesserenamaste/">
                <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i>
            </a>
        </li>
        
        
        <li class="ms-3">
            <a class="text-muted" href="https://www.facebook.com/centroesteticoparrucchieriauomodonna/">
                <i class="fa-brands fa-facebook-f fa-xl" style="color: #ffffff;"></i>
            </a>
        </li>
        
        
        <li class="ms-3">
            <a class="text-muted" href="https://www.youtube.com/@BENESSERENAMASTE">
                <i class="fa-brands fa-youtube fa-xl" style="color: #ffffff;"></i>
            </a>
        </li>
        <li class="ms-3">
            
        </li>
    </ul>

   
</footer>
